img {
    width: 20%;
    border-radius: 30%;
    margin-top: 10px;

}

body {
    /* background-color: #5265a1; */
    color: #4b2751;
    background-color: black;
    font-size: 25px;
}

header {
    /* flex-grow: 1; */
    justify-content: center;
    width: 80%;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    background-color: rgba(123, 141, 209, 0.30);
    border: rgba(123, 141, 209, 1) solid 2px;
    border-radius: 30px;
    box-shadow: 0 0 70px rgba(123, 141, 209, 1);
}

hr {
    color: #4b2751;
}

main {
    /* flex-grow: 1; */
    margin: 10px 10px 10px 10px;
    /* width: 150px; */
    /* background-color: #7a8dd0; */
    border-radius: 10px;
}

section {
    text-align: center;
    padding: 20px;
    margin: 10px 10px 10px 10px;
    border: rgba(123, 141, 209, 0.80) solid 2px;
    border-radius: 30px;
    box-shadow: 0 0 70px rgba(123, 141, 209, 1);
}

aside {
    margin: 10px 10px 10px 10px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10px 10px 10px 10px;
    width: 95%;
    /* height: 200px; */
    border: rgba(123, 141, 209, 0.80) solid 2px;
    border-radius: 30px;
    box-shadow: 0 0 70px rgba(123, 141, 209, 1);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #801d96;
}

address {
    margin-left: 10px;
    text-indent: 10px;
}

h2{
    font-size: 40px;
    text-align: center;
}

h3{

    margin-left: 10px;
    text-align: center;
}

p {
    justify-content: center;
    margin: 10px 10px 10px 10px;
    text-indent: 10px;
    /* color: #62E7ED; */
}

#tudo {
    background: linear-gradient(140deg, #5190a4 1%, #5b5bb4 80%);
    border: solid 3px;
    border-radius: 50px;
    box-shadow: 0 0 50px #4b2751;
}

.cabe {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.oioi {
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    align-items: baseline;
}

.tam {
    height: 250px;
    width: 250px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between; */
}

.vaiqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ima {
    
    text-align: center;
    font-size: 25px;
    width: 374px;
}

.item {
    text-align: center;
    font-size: 30px;
    /* width: 462px; */
}

.container {
    display: flex;
}

